{% extends 'base.html.twig' %}

{% block title %}
Chiffre d'affaire{% endblock %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- script template -->
<script src="../chiffre_affaire/jquery.min.js"></script> 

{% endblock %}
{% block body %}

  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{% trans %}Les chiffres{% endtrans %} </h6>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                        
                            <!-- Petite taches terminées -->
                            <div class="col">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{% trans %}Petite tâches terminées{% endtrans %} 
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{  total_Petite }}</div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                             <div class="col-auto">
                                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Moyenne taches terminées -->
                            <div class="col">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{% trans %}Moyenne tâches terminées{% endtrans %} 
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ total_Moyenne }}</div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Grande taches terminées -->
                            <div class="col">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{% trans %}Grande tâches terminées{% endtrans %} 
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{  total_Grande }}</div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <!-- Earnings (Annual) Card Example -->
                            <div class="col">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                   {% trans %}Total petite tâche{% endtrans %} </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_Petite }} €</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Earnings (Annual) Card Example -->
                            <div class="col">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                   {% trans %}Total moyenne tâche{% endtrans %} </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{  total_Moyenne  }} €</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Earnings (Annual) Card Example -->
                            <div class="col">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                   {% trans %}total grande tâche{% endtrans %} </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{  total_Grande }} €</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                            <!-- Earnings (Annual) Card Example -->
                            <div class="col">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                   {% trans %}Chiffre d'Affaire{% endtrans %} </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{  Total_Opération  }} €</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                </div>



            </div>


{% endblock %}
